<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/collector/home">Home</a></li>
            <% if (locals.user) { %>
                <li><a href="/collector/profile">Profile</a></li>
                <li><a href="/collector/assigned">Tasks</a></li>
                <li><a href="/collector/logout">Logout</a></li>
                
            <% } else { %>
                <li><a href="/signin">Signin</a></li>
                <li><a href="/signup">Signup</a></li>
            <% } %>
        </ul>
    </div>
    <h1>Profile</h1>
    Name: <%= user.fullName %> <br>
    Email: <%= user.email %> <br>
    Contact: <%= user.contact %> <br>
    Role: <%= user.role %>
</body>
</html>